In [1]:
import pandas as pd
import numpy as np
import string
import random

In [2]:
data = pd.read_csv('data.csv')
data.head()

    x1    x2  x3  x4  x5  target
0  0.0  0.50   0   0   1       0
1  1.0  0.75   1   1   1       1
2  0.0  0.50   0   0   1       0
3  0.5  1.00   1   0   0       0
4  1.0  0.00   0   0   1       0

In [3]:
# Split data - 20% is kept as test data 
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.2, random_state=1)

In [4]:
datapath = '../../../../data/Artif-1/'

# Save train data
train.to_csv(datapath+'train_data.csv', index=False)

# Save test data
test.to_csv(datapath+'test_data.csv', index=False)