In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
import sys
sys.path.append('C:/Users/sumaiyah/OneDrive - University Of Cambridge/Project/NN-Builder/src/preprocessing/')

Letters are represented with pixels that have been transformed into 16 attributes

Information about the Letter Recognition Dataset
The dataset is from, https://archive.ics.uci.edu/ml/datasets/Letter+Recognition

Very similar problem to MNIST
Task: classify letters

Original Pixel graphics have been transformed to a number of 16 attributes representing special characteristics, 0-15 indicate each attribute. 

Trained 2 layer NN with structure: 16-40-30-2

Reducing the dataset to perform binary classification task
- class_0: 'A'
- class_1: any other letter

# Generate Train and Test Data for Letter Recognition Dataset

In [3]:
# Define parameters
make_binary = False

In [4]:
data = pd.read_csv('data.csv')

In [5]:
# Encode letters as numbers
letters = string.ascii_uppercase
encodings = {letters[i]: i for i in range(len(letters))}
for letter in letters:
    data.loc[data['target'] == letter, 'target'] = encodings[letter]

In [6]:
if make_binary:
    # Make it a binary classification problem class_0 = 'A', class_1 = any other letter
    for letter in range(1, 26):
        data.loc[data['target'] == letter, 'target'] = 1

    # To balance the data
    class_0 = data[data['target'] == 0]
    # Shuffle and get examples from class_1 so len(class_1)==len(class_0)
    class_1 = data[data['target'] == 1].sample(frac=1).reset_index(drop=True)[0:len(class_0)]

    # Shuffle all the data
    balanced_data = pd.concat((class_0, class_1)).sample(frac=1).reset_index(drop=True)
    data = balanced_data

In [7]:
data.head()

,target,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16
0,19,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,8,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,3,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,13,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,6,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [8]:
X = data.iloc[:, 1:].values  # [rows, cols]
y = data['target'].values

In [9]:
# Add target to the end of the list
col_names = list(data.columns)[1:]
col_names.append('target')
assert col_names[-1]=='target', 'Column names in incorrect format'

In [10]:
# Split data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [11]:
# Save data 
from helpers import save_data
# save_data(X=X_train, y=y_train, col_names=col_names, filename='train_data_nonbin.csv')
# save_data(X=X_test, y=y_test, col_names=col_names, filename='test_data_nonbin.csv')