In [2]:
import pandas as pd

In [1]:
# Add code used to generate XOR data here!

In [4]:
pd.read_csv('test_data.csv')

     x0  x1  x2  x3  x4  x5  x6  x7  target
0     0   0   0   0   0   0   0   0       0
1     0   0   0   0   0   0   0   1       1
2     0   0   0   0   0   0   1   0       1
3     0   0   0   0   0   0   1   1       0
4     0   0   0   0   0   1   0   0       1
..   ..  ..  ..  ..  ..  ..  ..  ..     ...
251   1   1   1   1   1   0   1   1       1
252   1   1   1   1   1   1   0   0       0
253   1   1   1   1   1   1   0   1       1
254   1   1   1   1   1   1   1   0       1
255   1   1   1   1   1   1   1   1       0

[256 rows x 9 columns]